$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Blue: hsl(248, 32%, 49%);
$DarkBlue: hsl(249, 10%, 26%);
$GrayishBlue: hsl(246, 25%, 77%);
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
}

.fontW--600 {
  font-weight: 600;
}

body,
html {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: $Red;
  position: relative;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  height: 100%;
  grid-column-gap: 30px;
}
.intro {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.intro__title {
  font-size: 3em;
  line-height: 55px;
  color: white;
  margin-bottom: 24px;
  letter-spacing: 0.7px;
}
.intro__text {
  color: white;
  line-height: 26px;
  position: relative;
  top: 5px;
}
.form__top-btn {
  width: 100%;
  height: 60px;
  background-color: $Blue;
  border: 0;
  color: white;
  border-radius: 7px;
  margin-bottom: 24px;
  position: relative;
  font-size: 0.95em;
  padding-top: 3px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -8px;
    left: 0;
    height: 15px;
    background-color: #db6768;
    z-index: -1;
    border-radius: 0px 0px 8px 8px;
  }
}
.form {
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -8px;
    left: 0;
    height: 15px;
    background-color: #db6768;
    z-index: -1;
    border-radius: 0px 0px 8px 8px;
  }
}
.form__wrapper {
  width: 100%;
  display: block;
  margin-bottom: 21px;
  position: relative;
  text-align: right;
}
.form__input {
  height: 55px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $GrayishBlue;
  padding: 0 31px;
  padding-top: 5px;
  outline: none;
  font-weight: 700;
  color: $DarkBlue;
  &:focus {
    outline: 1px solid $Blue;
  }
}
.error {
  margin-bottom: 17px;
  .form__input {
    border: 2px solid $Red;
  }
  .error__icon {
    display: block;
  }
  .error__msg {
    display: block;
  }
  .error__msg--email {
    display: none;
  }
}

.error__email {
  .form__input {
    border: 2px solid $Red;
    color: $Red;
  }
  .error__icon {
    display: block;
  }
  .error__msg {
    display: none;
  }
  .error__msg--email {
    display: block;
  }
}
.error__icon {
  display: none;
  position: absolute;
  right: 27px;
  top: 0%;
  transform: translateY(50%);
}
.error__msg {
  display: none;
  text-align: right;
  font-size: 0.69em;
  margin-top: 7px;
  font-weight: 600;
  font-style: italic;
  color: $Red;
}
.form__button {
  width: 100%;
  background-color: $Green;
  border: 0;
  color: white;
  height: 55px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.07em;
  padding-top: 5px;
  position: relative;
  box-shadow: 0px 5px 0px 0px rgba(85, 171, 134, 100%);
}
.form__terms {
  font-weight: 500;

  font-size: 0.67em;
  color: $GrayishBlue;
}
.form__terms--pink {
  color: $Red;
  font-weight: 700;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-weight: 600;
  a {
    color: $Blue;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 70%;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  html,
  body {
    height: auto;
  }
  .container {
    padding: 0 25px;
    width: 100%;
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
  .intro {
    text-align: center;
    margin-top: 92px;
    margin-bottom: 66px;
  }
  .intro__title {
    font-size: 1.65em;
    line-height: 35px;
    margin-bottom: 19px;
  }
  .form__top-btn {
    padding: 0 50px;
    height: 90px;
  }
  .form {
    padding: 24px;
  }
  .form__wrapper {
    margin-bottom: 17px;
  }
  .form__button {
    margin-bottom: 5px;
  }
}
